#
dist
dist-server
tmp
out-tsc
node_modules
connect.lock
coverage
libpeerconnection.log
typings
package-lock.json
e2e/*.js
e2e/*.map

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.editorconfig
# IDE - VSCode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
.vscode
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
