# client
client/dist
client/dist-server
client/tmp
client/out-tsc
client/node_modules
client/connect.lock
client/coverage
client/libpeerconnection.log
client/typings
client/package-lock.json
client/e2e/*.js
client/e2e/*.map

# server
server/node_modules
server/dist
server/package-lock.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
client/.editorconfig
# IDE - VSCode
client/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache

/package-lock.json
/dist
/.vscode
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db